section.menu
	.menu__container
		nav.menu__navigation
			.menu__bg
			.menu__mobile
				p.menu__choise Главная
				img(class="menu__arrow" src="./../../images/menu__arrow.png", alt="")
			ul.menu__list
				li.menu__item
					a.menu__link.menu__link--active(href="#") Главная
				li.menu__item
					a.menu__link(href="#") Шугаринг и депиляция волос
				li.menu__item
					a.menu__link(href="#") Антицеллюлитный массаж
				li.menu__item
					a.menu__link(href="#") Классический массаж
				li.menu__item
					a.menu__link(href="#") Обучение
				li.menu__item
					a.menu__link(href="#") Косметика для мастеров
				li.menu__item
					a.menu__link(href="#") Статьи
				li.menu__item
					a.menu__link(href="#") О студии
				li.menu__item
					a.menu__link(href="#") Контакты