section.pincet
	.pincet__wave
	.container
		.pincet__animation(id='heart')
			.pincet__heart--bg1(data-depth="1.00")
				img.pincet__heart1(src="./../../images/heart1.png", alt="")
			.pincet__heart--bg2(data-depth="0.80")
				img.pincet__heart2(src="./../../images/heart2.png", alt="")
		.pincet__bg
		.pincet__wrapper
			.pincet__content
				h1.pincet__title 
					| Хотите избавиться от
					br
					b нежелательных волос
					br
					| или нужен сеанс
					br
					b антицеллюлитного массажа?
				.pincet__info
					.pincet__left
						.pincet__list
							.pincet__item 
								.pincet__dot
								p.pincet__text депиляция воском и Шугаринг;
							.pincet__item 
								.pincet__dot
								p.pincet__text профессиональные сертифицированные мастера;
							.pincet__item 
								.pincet__dot
								p.pincet__text работаем и с женщинами, и с мужчинами;
							.pincet__item 
								.pincet__dot
								p.pincet__text результат уже после первой процедуры.
						a.pincet__button(href="#")
							| Получить карту 
							br
							| клиента бесплатно
							img.pincet__branch(src="./../../images/Branch.png")
					.pincet__right
						.pincet__screen
							img.pincet__plate(src="./../../images/card__klient.png")
							img.pincet__heart(src="./../../images/pinset__heart.png")
							.pincet__hint
								img.pincet__inf(src="./../../images/pincet__info.png")
								.pincet__box
									p.pincet__box--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
							img.pincet__shadow(src="./../../images/pincet_shadow.png")

