.contact
	.contact__wrapper
		.contact__content
			h2.contact__title Контактная информация
			.contact__close &times;
			.contact__info
				.contact__location
					p.contact__left Наш адресс:
					p.contact__right  
						b г. Брест, ул. Гоголя, д.65
				hr
				.contact__phone
					p.contact__left Наш телефон:
					p.contact__right 
						b +375 33 382 24 99
				hr
				.contact__time
					p.contact__left Рабочее время
					p.contact__right 
						b Пн-Вс 9:00-21:00